<section class="search-page" *ngIf="(vm$ | async) as vm">

  <!-- TOP SEARCH PANEL -->
  <div class="search-panel">
    <h1>Find Spiritual Guides and Practices</h1>
    <p>Explore profiles, events, and teachings that resonate with you.</p>

    <div class="search-bar">

      <div class="bar">

    

      <!-- SEARCH -->
      <div class="search-input">
        <i class="bi bi-search"></i>
        <input type="text"
               placeholder="Search by name or bio"
               [formControl]="form.controls.q">
      </div>

      

      <!-- SERVICES FILTER -->
      <div class="select-box">
        <div class="divider"></div>
        <i class="bi bi-card-list"></i>
        <select (change)="toggleService($any($event.target).value, $event)">
          <option value="">Select Category</option>
          <option *ngFor="let s of allServices" [value]="s">{{ s }}</option>
        </select>
      </div>

     

      <!-- PER PAGE -->
      <div class="select-box">
         <div class="divider"></div>
        <select [formControl]="form.controls.perPage" (change)="setPage(1)">
           <option [value]="0">Profiles Per Page</option>
          <option [value]="6">6</option>
          <option [value]="12">12</option>
          <option [value]="24">24</option>
        </select>
      </div>
  </div>
      <button class="search-btn" (click)="setPage(1)">Search</button>
    </div>
  </div>

  <!-- RESULTS -->
  <div class="results-section">
    <h2>Search Result</h2>

    <div class="card-grid">

      <!-- CARD -->
      <div class="profile-card" *ngFor="let p of vm.rows; trackBy: trackById">

        <!-- HEADER -->
        <div class="card-header">Connected888</div>

        <!-- COVER -->
        <div class="card-cover"
             [style.background-image]="p.coverImage ? 'url(' + p.coverImage + ')' : 'url(' + p.defaultcoverImage + ')' "
             [style.background-color]="p.coverColor">

          <span class="badge">{{ p.ribbon || 'Practitioner' }}</span>

          <img class="avatar"
               [src]="p.avatar || 'images/default-user.png'"
               [alt]="p.name">
        </div>

        <!-- BODY -->
        <div class="card-body">
          <h3>{{ p.name }}</h3>

          <div class="tags">
            <span *ngFor="let s of p.services">{{ s }}</span>
          </div>

     <p>
  {{
    (p.bio && p.bio.length > 90)
      ? (p.bio | slice:0:90) + '...'
      : (p.bio || 'No description available.')
  }}
</p>

          <div class="location">
            <i class="bi bi-geo-alt"></i> {{ p.country }}
          </div>

          <button (click)="fullListing()" class="view-p">View Profile</button>
        </div>
      </div>

    </div>

    <!-- EMPTY STATE -->
    <div class="no-results" *ngIf="!vm.rows.length">
      No profiles found. Try adjusting your filters.
    </div>

  </div>

</section>
