.container-fluid {
  border: 2px solid;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
}
.connect-card-grey {
  background: #f2f2f2;
  width: 100%;
}
.heading{
  color:rgb(4, 4, 5);
  font-weight: bold;
}
.submit {
  display: flex;
  justify-content: center;
  margin-top: 3;
}
.required {
  content: "* ";
  color: red;
}
.btn {
  color: #010000;
  background: linear-gradient(90deg, #f3a304 0%, #f3d885 50%, #f3a304 100%);
  font-weight: bolder;
  border-radius: 50rem;
}
