<!--About-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="about-header">
        <span class="line"></span>
        <p class="intro-text">Know About Us</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1 class="main-title">Welcome to Connected888</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="right">
        <p class="highlight-text">
          Connected888 is a global community uniting light workers, sound
          healers, and conscious creators through the power of vibration and
          intention.
        </p>
        <p class="para">
          We unite lightworkers, sound healers, and spiritually aligned
          individuals worldwide, celebrating the cosmic Lion's Gate Portal on
          August 8 with a continuous 24-hour transmission of 888 Hz-a powerful
          vibrational frequency symbolizing infinite harmony and abundance.
        </p>
      </div>
    </div>
    <!---->
  </div>
</div>
<div class="container-fluid">
  <div class="section-2">
    <img src="../images/about/video.png" width="1280" height="448" />
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <h2>Our Mission</h2>
        <p>
          To shift planetary consciousness and foster personal healing by
          uniting thousands across borders in a 24&#45;hour sound&#45;healing
          experience on August 8
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <h2>Our Core Values</h2>
        <p>
          Unity &mdash; We believe in the collective power of shared intention.
        </p>
        <p>
          Transformation &mdash; We enable personal and planetary evolution
          through elevated vibration frequencies. Inclusive &mdash; We welcome
          light workers, musicians, volunteers, and curious souls from all walks
          of life
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Our Supporters</h2>
        <img
          class="logos-row"
          src="../images/about/logos-row.png"
          width="1230"
          height="31"
        />
      </div>
    </div>
  </div>
  <div class="section-3">
    <h3 class="heading">Meet the Team</h3>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="team">
          <img src="../images/about/team.png" width="400" height="320" />
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur. Mattis ipsum egestas orci
            lorem in congue sagittis nisl. Vitae donec ultricies libero diam
            ultrices habitant.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="team">
          <img src="../images/about/team.png" width="400" height="320" />
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur. Mattis ipsum egestas orci
            lorem in congue sagittis nisl. Vitae donec ultricies libero diam
            ultrices habitant.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="team">
          <img src="../images/about/team.png" width="400" height="320" />
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur. Mattis ipsum egestas orci
            lorem in congue sagittis nisl. Vitae donec ultricies libero diam
            ultrices habitant.
          </p>
        </div>
      </div>
    </div>

    <!---->
  </div>
</div>
<div class="container">
  <div class="row section-4">
    <div class="col-12 col-md-6 col-lg-6">
      <h2 class="pt-5">Our Founding Story</h2>
      <div class="info">
        <h3>Founded in 2024</h3>
        <p>
          Connected888 emerged from a vision to harness the energetic potency of
          the August 8 alignment.
        </p>
        <p>
          As the Earth, Sun (in Leo), and Sirius constellation converge, this
          cosmic portal amplifies spiritual awakening and transformation
          connected888.org.
        </p>
        <p>
          Our founders recognized the opportunity to create a synchronized
          global event: a collective moment of healing, harmony, and ascension.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div>
        <img src="../images/about/founders.png" width="612" height="448" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="section-5">
      <img src="../images/about/event-pic.png" width="1280" height="384" />
    </div>
  </div>
</div>