@use "variables" as *;
@use "typography" as *;
@use "buttons" as *;

/* =========================
   Footer Base
========================= */

.c888-footer {
  width: 100%;
  background: $gray-100;
  color: $white;
  padding: 3rem 0;
}

/* =========================
   Logo + Text
========================= */

.ft-c888 {
  max-width: 320px;
}

.c-text {
  font-family: $font-lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: $white;
}

/* =========================
   Headings
========================= */

.c888-footer .text-accent {
  color: $primary-main;
  font-family: $font-lato;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 1rem;
}

/* =========================
   Links
========================= */

.c888-footer .footer-link {
  color: $white;
  text-decoration: none;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s ease;
}

.c888-footer .footer-link:hover {
  color: $primary-main;
}

/* =========================
   Icons
========================= */

.c888-footer .bi {
  font-size: 17px;

  color: $white;
  transition: color 0.2s ease;
}

.icon-space{
  margin-right: 20px;
}

.c888-footer .bi:hover {
  color: $primary-main;
}

/* =========================
   Divider & Tagline
========================= */

.c888-footer hr {
  border-color: $white;
}

.c888-footer .text-tagline {
  color: $white;
}


.reg-btn { width: 116; height: 39; top: 24px; left: 1252px; border-radius: 6px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; opacity: 1; background-color: $gray-100; color: $primary-main; font-family: $font-lato; font-weight: 500; font-style: Medium; font-size: 16px; line-height: 100%; letter-spacing: 0px; text-align: center; border: 1px solid $primary-main; }

/* =========================
   Mobile Responsive
========================= */

@media (max-width: 575.98px) {
  .c888-footer {
    text-align: left;
    padding: 2rem 0;
  }

  .ft-c888 .c-text{
    margin: 0 auto;
    padding: 0px 0px;
  }
  .reg-btn{
    margin-top: 10px;
  }

  .c888-footer .footer-link {
    justify-content: left;
    font-size: 14px;
  }

  .c888-footer ul {
    padding-left: 0;
  }

  .c888-footer ul li {
    margin: 0.35rem 0;
  }

  .c888-footer .bi {
    margin-right: 15px;
    font-size: 14px;
  }
}
