<nav
  class="navbar navbar-expand-lg c888-nav fixed-top py-2"
  [class.scrolled]="isScrolled"
>
  <div class="container align-items-center">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center me-2" routerLink="/">
      <img src="images/logo-f.png" alt="Connected888" class="c888-logo" />
    </a>

    <!-- Toggler (mobile) -->
    <button
      class="navbar-toggler border-0"
      type="button"
      aria-label="Toggle navigation"
      (click)="toggleNav()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible zone -->
    <div class="collapse navbar-collapse" id="navMain">
      <!-- LEFT: menu right next to logo on lg+ -->
      <ul class="navbar-nav mx-auto gap-4 align-items-center mt-3 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link c888-link"
            routerLink="/home"
            routerLinkActive="active"
            (click)="closeNav()"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link c888-link"
            routerLink="/about"
            routerLinkActive="active"
            (click)="closeNav()"
            >About Us
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link c888-link dropdown-toggle"
            id="contributeDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Get Connected
          </a>
          <ul class="dropdown-menu" aria-labelledby="contributeDropdown">
            <li>
              <a class="dropdown-item" routerLink="/soundhealing" (click)="closeNav()">
                Sound Healing
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/practitioners" (click)="closeNav()">
                Practictioners
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/search-profiles"
                (click)="closeNav()"
              >
                Search Profiles</a
              >
            </li>

            <li class="nav-item dropend ">
              <a
                class="nav-link c888-link dropdown-toggle dropdown-item-main"  
                
                id="contributeDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Create/Edit
              </a>
              <ul class="dropdown-menu" aria-labelledby="contributeDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/profiles"
                    (click)="closeNav()"
                  >
                    Profiles
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/" (click)="closeNav()">
                    Hosted pages
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link c888-link dropdown-toggle"
            id="contributeDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"  
          >
            Contribute
          </a>
          <ul class="dropdown-menu" aria-labelledby="contributeDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/donate"
                (click)="closeNav()"
              >
                Donate
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/sponsor" (click)="closeNav()">
                Sponsor
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/volunteer"
                (click)="closeNav()"
              >
                Volunteer
              </a>
            </li>
       <li class="nav-item dropend ">
          <a
            class="nav-link c888-link dropdown-toggle text-md-start dropdown-item-main"
            id="contributeDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            routerLink="/promote"
          >
            Promote
          </a>
          <ul class="dropdown-menu" aria-labelledby="contributeDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/mediakit"
                (click)="closeNav()"
              >
                Media Kit
              </a>
            </li>
          </ul>
        </li>
          </ul>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link c888-link dropdown-toggle"
            id="contributeDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "Navbar.REGISTER" | translate }}
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="contributeDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="/register"
                (click)="closeNav()"
              >
                {{ "Navbar.EVENT" | translate }}</a
              >
            </li>

             <li>
              <a
                class="dropdown-item"
               
                routerLink="/event-details"
                (click)="closeNav()"
              >
                {{ "Navbar.EVENT_DETAILS" | translate }}</a
              >
            </li>




          </ul>
           </li> -->
      </ul>

      <!-- RIGHT: compact sign-in + beautified language -->
      <div
        class="d-flex align-items-center gap-2 gap-lg-3 ms-lg-3 mt-3 mt-lg-0 justify-content-center"
      >
        <!-- pretty language select -->
        <div class="dropdown">

          <button
            class="btn dropdown-toggle d-flex gap-2 lang-btn"
            type="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-translate lang-icon"></i> {{ lang | uppercase}}
          </button>

          <ul class="dropdown-menu dropdown-menu-end btng">
            <li *ngFor="let lang of languages">
              <a
                class="dropdown-item d-flex align-items-center gap-2"
                (click)="switchLanguage(lang)"
              >
                {{ lang.label }}
              </a>
            </li>
          </ul>
        </div>

        <button class="reg-btn " (click)="register()">Register</button>
      </div>
    </div>
  </div>
</nav>
