<div class="pt-3 mt-0 my-4 p-3">
  <!-- Header Section -->
  <div class="container">
    <!-- Profile Card -->
    <div class="col-12 col-md-6 col-sm-8 w-100">
      <div class="profile-header card-border rounded-bottom">
        <div class="profile-wrap">
          <div class="col-9">
            <h1 class="fw-bold">
              {{ profileData[0].headline }}
            </h1>
          </div>
          <div class="col-3">
            <button type="submit" class="download-btn" id="downloadBtn">
              <i class="bi bi-download"></i> Download PDF
            </button>
          </div>
        </div>
      </div>
      <div class="profile-card">
        <div class="top-section">
          <div class="overlay"></div>
          <div class="ribbon">Practitioner</div>
        </div>
        <div class="profile-wrap">
          <div class="col-9"></div>
          <div class="col-3">
            <div class="avatar-wrapper">
              <img
                src="../images/profile-pic.png"
                class="avatar"
                alt="profile picture"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 w-100">
        <div class="card-body">
          <!--Profile Details-->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 description">
              <h3>
                {{ profileData[0].descriptionTitle }}
              </h3>
              <p>
                {{ profileData[0].description }}
              </p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 profile-section">
              <div class="">
                <h2 class="profile-name">
                  {{ profileData[0].profileName }}
                </h2>
                <p class="text-center">
                  {{ profileData[0].profileDescription }}
                </p>
              </div>
              <!-- profile contact details-->

              <div>
                <span
                  ><img
                    src="../images/phone-icon.png"
                    width="32"
                    height="32"
                    alt="phone-icon"
                /></span>
                <span class="profile-input-text">
                  {{ profileData[0].phoneNumber }}
                </span>
              </div>
              <div class="pt-3">
                <span
                  ><img
                    src="../images/email-icon.png"
                    width="32"
                    height="32"
                    alt="email icon"
                /></span>
                <span class="profile-input-text">
                  {{ profileData[0].email }}
                </span>
              </div>
              <div class="pt-3">
                <span
                  ><img
                    src="../images/navigation-icon.png"
                    width="32"
                    height="32"
                    alt="navigation icon"
                /></span>
                <span class="profile-input-text">
                  {{ profileData[0].address }}
                </span>
              </div>
              <div class="pt-3">
                <span
                  ><img
                    src="../images/language-icon.png"
                    width="32"
                    height="32"
                    alt="language icon"
                /></span>
                <span class="profile-input-text w-100">
                  {{ profileData[0].language }}
                </span>
              </div>
              <div class="pt-3">
                <span
                  ><img
                    src="../images/web-icon.png"
                    width="32"
                    height="32"
                    alt="web icon"
                /></span>
                <span class="profile-input-text">
                  {{ profileData[0].webUrl }}
                </span>
              </div>
            </div>

            <!--Socials-->
            <div class="mt-4 socials">
              <div class="card-border social-icons">
                <span>
                  <a href="">
                    <img
                      class="mb-2"
                      src="../images/tiktok-icon.png"
                      width="26"
                      height="26"
                      alt="tiktok icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="">
                    <img
                      class="mb-2"
                      src="../images/linkedin-icon.png"
                      width="26"
                      height="26"
                      alt="linkedin icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="">
                    <img
                      class="mb-2"
                      src="../images/snapchat-icon.png"
                      width="26"
                      height="26"
                      alt="snapchat icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="">
                    <img
                      class="mb-2"
                      src="../images/instagram-icon.png"
                      width="26"
                      height="26"
                      alt="instagram icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="">
                    <img
                      class="mb-2"
                      src="../images/facebook-icon.png"
                      width="26"
                      height="26"
                      alt="facebook icon"
                    />
                  </a>
                </span>
                <span>
                  <a href="">
                    <img
                      class="mb-2"
                      src="../images/youtube-icon.png"
                      width="26"
                      height="26"
                      alt="youtube icon"
                    />
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Spiritual Practices -->
      <div class="col-12 col-md-6 col-lg-4 w-100 mt-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2>
              {{ spiritualData[0].title }}
            </h2>
            <hr />
            <!--1st row practices-->
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp1-img.png"
                    width=""
                    height=""
                    alt="Practice Mindful Yoga"
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice1 }}</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp2-img.png"
                    width=""
                    height=""
                    alt="Reiki for Inner Balance"
                  />
                  <p class="text-bold pt-2">
                    {{ spiritualData[0].practice2 }}
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp3-img.png"
                    width=""
                    height=""
                    alt="Guided Deep Relaxation"
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice3 }}</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp4-img.png"
                    width=""
                    height=""
                    alt="Energy Flow Alignment"
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice4 }}</p>
                </div>
              </div>
            </div>
            <!--2nd row practices-->
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp5-img.png"
                    width=""
                    height=""
                    alt="Prestive Intention Setting"
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice5 }}</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp6-img.png"
                    width=""
                    height=""
                    alt="Sound Bath Healing"
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice6 }}</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp7-img.png"
                    width=""
                    height=""
                    alt="Meditation & Mindfulness "
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice7 }}</p>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="card spiritual-card">
                  <img
                    src="../images/sp8-img.png"
                    width=""
                    height=""
                    alt="Practice Gratitude Daily"
                  />
                  <p class="text-bold pt-2">{{ spiritualData[0].practice8 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Services and Offerings -->
      <div class="col-12 col-md-6 col-lg-4 w-100 mt-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2>
              {{ servicesData[0].heading }}
            </h2>
            <hr />
            <!--services starts-->
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card service-card">
                  <img
                    src="../images/ser1-img.png"
                    width=""
                    height=""
                    alt="Energy healing"
                  />
                  <div class="card-body">
                    <div>
                      <span class="service-title">
                        {{ servicesData[0].service1.serviceLabel }}:</span
                      >
                      <span class="text-bold pl-3">
                        {{ servicesData[0].service1.titleInput }}
                      </span>
                    </div>
                    <p class="mt-2">
                      {{ servicesData[0].service1.description }}
                    </p>
                    <div class="service-wrap">
                      <span
                        ><img
                          src="../images/date-time-icon.png"
                          width=""
                          height=""
                          alt="date time icon"
                      /></span>
                      <span>{{ servicesData[0].service1.date }}</span>
                    </div>
                    <div class="service-wrap">
                      <span
                        ><img
                          src="../images/dollar-icon.png"
                          width=""
                          height=""
                          alt="dollar icon"
                      /></span>
                      <span>{{ servicesData[0].service1.price }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card service-card">
                  <img
                    src="../images/ser2-img.png"
                    width=""
                    height=""
                    alt="Energy healing"
                  />
                  <div class="card-body">
                    <div>
                      <span class="service-title"
                        >{{ servicesData[0].service2.serviceLabel }}:</span
                      >
                      <span class="text-bold pl-3">{{
                        servicesData[0].service2.titleInput
                      }}</span>
                    </div>
                    <p class="mt-2">
                      {{ servicesData[0].service2.description }}
                    </p>
                    <div class="service-wrap">
                      <span
                        ><img
                          src="../images/date-time-icon.png"
                          width=""
                          height=""
                          alt="date time icon"
                      /></span>
                      <span>{{ servicesData[0].service2.date }}</span>
                    </div>
                    <div class="service-wrap">
                      <span
                        ><img
                          src="../images/dollar-icon.png"
                          width=""
                          height=""
                          alt="dollar icon"
                      /></span>
                      <span>{{ servicesData[0].service2.price }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card service-card">
                  <img
                    src="../images/ser3-img.png"
                    width=""
                    height=""
                    alt="Energy healing"
                  />
                  <div class="card-body">
                    <div>
                      <span class="service-title">
                        {{ servicesData[0].service3.serviceLabel }}:</span
                      >
                      <span class="text-bold pl-3">{{
                        servicesData[0].service3.titleInput
                      }}</span>
                    </div>
                    <p class="mt-2">
                      {{ servicesData[0].service3.description }}
                    </p>
                    <div class="service-wrap">
                      <span
                        ><img
                          src="../images/date-time-icon.png"
                          width=""
                          height=""
                          alt="date time icon"
                      /></span>
                      <span>{{ servicesData[0].service3.date }}</span>
                    </div>
                    <div class="service-wrap">
                      <span
                        ><img
                          src="../images/dollar-icon.png"
                          width=""
                          height=""
                          alt="dollar icon"
                      /></span>
                      <span>{{ servicesData[0].service3.price }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
</div>
