<section class="promo-hero">
  <div >
    <div class="row g-0 min-vh-100">
     
      <!-- RIGHT: big illustration -->
      <div class="col-12 col-lg-7 d-none d-lg-block ">
        <div class="artboard" role="img" aria-label="Illustration panel"></div>
      </div>



         <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center">
        <div class="panel mx-3 my-5 my-lg-0 w-100" style="max-width: 520px;">
          <h2 class="title mb-1">Promote Events</h2>
          <p class="lead mb-4">
            Marketing assets and details will be sent to the email address provided.
          </p>

          <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
            <!-- Organization -->
            <div class="field">
              <label class="label">Organization Name</label>
              <input class="form-control form-pill"
                     [class.is-invalid]="f.orgName.invalid && (f.orgName.dirty || f.orgName.touched)"
                     type="text" placeholder="Organization Name"
                     formControlName="orgName">
            </div>

            <!-- Contact -->
            <div class="field">
              <label class="label">Contact Name</label>
              <input class="form-control form-pill"
                     [class.is-invalid]="f.contactName.invalid && (f.contactName.dirty || f.contactName.touched)"
                     type="text" placeholder="Contact Name"
                     formControlName="contactName">
            </div>

            <!-- Email -->
            <div class="field">
              <label class="label">Contact Email</label>
              <input class="form-control form-pill"
                     [class.is-invalid]="f.contactEmail.invalid && (f.contactEmail.dirty || f.contactEmail.touched)"
                     type="email" placeholder="name@company.com"
                     formControlName="contactEmail">
            </div>

            <button class="btn btn-accent w-100 mt-2" type="submit" [disabled]="form.invalid">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
